@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --main-bg: #F5F5F5;
  --accent-color: #FFFFFF;
  --side-bar-color: #EFEFEF;

  --dark-main-bg: #232339;
  --dark-accent-color: #2E2E48;
  --hover-dark-color: #462682;



  --line-color: #AAAAAA;
  --border-color: #BCBCBC;

  --main-text-color: #666666;
  --main-fat-text-color: #333333;

  --font-xl: 36px;
  --font-xl2: 32px;
  --font-md: 16px;
  --font-sm: 14px;

  --mg-20: 20px;
  --mg-50: 20px;

  --main-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-xl2);
}

p,
a,
li{
  font-size: var(--font-md);
  color: var(--main-text-color);
}

span {
  font-size: var(--font-sm);
  color: var(--main-text-color);
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: #333333;
  font-weight: 400;
  font-style: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.information-indent {
  margin-left: var(--mg-20);
}

.small-margin p {
  margin: 0;
}

.flex-col-rev {
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.display-none {
  display: none;
}

.main-border {
  border: 0.5px solid var(--border-color);
}

.justify-center {
  justify-content: center;
}