.main-content-bg {
    width: 100%;
    height: 100%;

    padding-left: 75px;
    padding-top: 66px;

    background-color: var(--main-bg);
}

.container {
    width: 889px;

}

.container>* {
    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 25px;
}

.enterprise-name {
    margin: 0;
}

.Experience-proto {
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 15px;
    padding-right: 15px;


    border: 0.5px solid var(--border-color);
    border-radius: var(--main-radius);
    background-color: var(--accent-color);

    cursor: pointer;

    transition: 0.3s all;
}
.Experience-proto:hover{
    border: 0.5px solid var(--accent-color);
    box-shadow: 0 0 80px var(--border-color);
}

.ordinary-width {
    width: 889px;
}

.closed-sidebar-width {
    width: 1140px;
}

.projectsPropsContainer {
    width: 338px;
    min-height: 296px;

    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 0.5px solid var(--border-color);

    background: var(--accent-color);


    transition: 0.3s all;
}
.projectsPropsContainer:hover{
    border: 0.5px solid var(--accent-color);
    box-shadow: 0 0 160px var(--border-color);
}

.icon-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.switch-button {
    width: 26px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    border-radius: 50%;

    background: var(--main-fat-text-color);
}

.left-button {
    transform: scaleX(-1);
}

.switch-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    position: absolute;
}

.website-icon {
    width: 100%;
    border-radius: 5px;
}

.education-container {
    width: 262px;
    height: 124px;

    cursor: pointer;

    display: flex;
    justify-content: space-between;
    flex-direction: column;


    padding: 10px;

    background: var(--accent-color);

    border: 0.5px solid var(--border-color);

    border-radius: var(--main-radius);
    
    transition: 0.3s all;
}

.education-container {
    position: relative;
    width: 262px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    background: var(--accent-color);
    border: 0.5px solid var(--border-color);
    border-radius: var(--main-radius);
    transition: 0.3s all;
}

.education-container:hover {
    border: 0.5px solid var(--accent-color);
    box-shadow: 0 0 80px var(--border-color);
}

.education-container-logo {
    gap: 12px;

    display: flex;
    align-items: flex-end;
}

.education-container-clarification {
    padding-left: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.design-skills {
    width: 390px;
    height: 184px;

    background: var(--accent-color);
    border-radius: var(--main-radius);

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 6px 30px;
    
    transition: 0.3s all;
}
.design-skills:hover{
    border: 0.5px solid var(--accent-color);
    box-shadow: 0 0 80px var(--border-color);
}
.skills-block-line {
    width: 1px;
    height: 100%;

    border-radius: 1px;

    background: var(--main-text-color);
}
.development-skill-long-block {
    width: 354px;
    height: 44px;

    background: var(--accent-color);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s all;
}
.development-skill-long-block:hover{
    border: 0.5px solid var(--accent-color);
    box-shadow: 0 0 80px var(--border-color);
}

.development-easiest-skills {
    width: 115px;
    height: 38px;

    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--accent-color);

    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 5px;
    align-items: center;

    transition: 0.3s all;
}
.development-easiest-skills span{
    font-size: 13px;
}
.development-easiest-skills:hover{
    border: 0.5px solid var(--accent-color);
    box-shadow: 0 0 80px var(--border-color);
}
.development-git-skills {
    width: 212px;
    height: 58px;

    background: var(--accent-color);

    display: flex;
    align-items: center;
}
.development-git-skills ul li{
    font-size: 13px;
}
.development-git-skills:hover{
    transition: 0.3s all;

    border: 0.5px solid var(--accent-color);
    box-shadow: 0 0 80px var(--border-color);
}

.top-left-radius {
    border-top-left-radius: var(--main-radius);
}

.bottom-left-radius {
    border-bottom-left-radius: var(--main-radius);
}

.bottom-left-right-radius {
    border-bottom-left-radius: var(--main-radius);
    border-bottom-right-radius: var(--main-radius);
}

.skills-clock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.development-base-skills {
    display: flex;
    justify-content: space-between;
}

.development-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}